body{
    background-color: whitesmoke;
    h1{
    background-color:white;
    color: blue;
    margin-right: 40px;
    margin-left: 40px;

}
form{
    background-color:white;
    width: 400px;
    box-shadow:rgb(193, 187, 187) 5px 5px 5px 5px;
}
fieldset{

    width: 500px;
    border-radius: 6px;
}
.wee{
    display: flex;
    justify-content: center;
    /* text-align: center; */
    margin-right: 23PX;
    background-color:white;


}
input{
    border-radius: 5px;
    border-color: rgb(229, 222, 222);
}
label{
    margin-right: 50px;
}
button{
    border-radius: 12px;
   background-color: blue;
   transition: 0.9s;
   padding: 10px;
   border: none;
    box-shadow:rgb(226, 224, 224) 2px 2px 2px;
   

   cursor: pointer;
 
}
body{
    background-color:whitesmoke;
}
button:hover{
    background-color:gold;
       transform:translateY(-5px);

    
}
}